my_project.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/إعراب_القرآن_الكريم_1776423152342.pdf filter=lfs diff=lfs merge=lfs -text
attached_assets/VID_٢٠٢٦٠٧٠٤_٠٥١٣٤٠_1783175028582.mp4 filter=lfs diff=lfs merge=lfs -text
